@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Heebo:regular,500,700,900&display=swap&subset");
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

a {
  display: inline-block;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
  background-color: transparent;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.44;
  color: #21243D;
}

body.stopscroll {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
}

footer {
  margin-top: auto;
}

.ibg {
  position: relative;
  z-index: -1;
}

.ibg img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.container {
  max-width: 876px;
  padding: 0 10px;
  margin: 0 auto;
  overflow: hidden;
}

.title {
  font-size: 44px;
  line-height: 1.3636;
  font-weight: 700;
}

@media (max-width: 767.98px) {
  .title {
    font-size: 32px;
  }
}

.btn {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  background-color: #FF6464;
  border-radius: 2px;
  min-height: 47px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  padding: 0 20px;
  font-weight: 500;
  font-size: 20px;
  color: #fff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 992px) {
  .btn:hover {
    background-color: #e64646;
  }
}

.text p {
  margin-bottom: 27px;
  font-size: 16px;
  line-height: 1.44;
}

.text p:last-child {
  margin-bottom: 0;
}

.section-title {
  font-size: 22px;
  line-height: 1.2;
}

@media (max-width: 479.98px) {
  .section-title {
    text-align: center;
    padding-right: 0;
    font-size: 18px;
  }
}

.date {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 25px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: 900;
  border-radius: 16px;
  color: #fff;
}

.date--blue {
  background-color: #142850;
}

.date--pink {
  background-color: #FF6464;
}

.header {
  margin-bottom: 80px;
}

@media (max-width: 767.98px) {
  .header {
    margin-bottom: 30px;
  }
}

.header__container {
  max-width: 1052px;
  padding: 0 10px;
  margin: 0 auto;
}

.header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 15px 0;
}

@media (min-width: 768px) {
  .header__menu {
    height: 82px;
  }
}

.menu {
  position: relative;
}

@media (max-width: 767.98px) {
  .menu__body {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: auto;
    padding: 50px 10px 0 10px;
    -webkit-transform: translate(100%);
        -ms-transform: translate(100%);
            transform: translate(100%);
    -webkit-transition: 0.5s ease;
    -o-transition: 0.5s ease;
    transition: 0.5s ease;
    background-color: rgba(255, 255, 255, 0.95);
  }
  .menu__body.active {
    -webkit-transform: translate(0);
        -ms-transform: translate(0);
            transform: translate(0);
  }
}

@media (min-width: 768px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .menu__list li {
    margin-left: 33px;
  }
}

@media (max-width: 767.98px) {
  .menu__list {
    text-align: center;
  }
  .menu__list li {
    margin-bottom: 10px;
  }
}

.menu__link {
  font-weight: 500;
  font-size: 20px;
  color: #000;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
}

.menu__link.active {
  color: #FF6464;
}

@media (min-width: 992px) {
  .menu__link:hover {
    color: #FF6464;
  }
}

@media (max-width: 767.98px) {
  .menu__link {
    font-size: 40px;
  }
}

.icon-menu {
  display: none;
  cursor: pointer;
}

@media (max-width: 767.98px) {
  .icon-menu {
    display: block;
    position: relative;
    z-index: 6;
    width: 30px;
    height: 18px;
  }
  .icon-menu span {
    position: absolute;
    width: 100%;
    height: 2px;
    top: 8px;
    left: 0;
    background-color: #000;
    -webkit-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
  }
  .icon-menu span:first-child {
    top: 0;
  }
  .icon-menu span:last-child {
    top: 100%;
  }
  .icon-menu.active span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    top: 50%;
  }
  .icon-menu.active span:first-child {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }
  .icon-menu.active span:last-child {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}

.hello {
  padding-top: 40px;
  margin-bottom: 78px;
}

@media (max-width: 767.98px) {
  .hello {
    padding: 0;
    margin-bottom: 59px;
  }
}

.hello__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

@media (max-width: 767.98px) {
  .hello__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    text-align: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.hello__content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding-right: 110px;
  padding-top: 18px;
}

.hello__content *:last-child {
  margin-bottom: 0;
}

@media (max-width: 830px) {
  .hello__content {
    padding-right: 50px;
  }
}

@media (max-width: 767.98px) {
  .hello__content {
    padding: 0;
  }
}

.hello__title {
  margin-bottom: 28px;
}

@media (max-width: 767.98px) {
  .hello__title {
    margin-bottom: 21px;
  }
}

.hello__text {
  margin-bottom: 34px;
}

@media (max-width: 767.98px) {
  .hello__text {
    margin-bottom: 21px;
  }
}

.hello__text p {
  margin-bottom: 15px;
}

.hello__text p:last-child {
  margin-bottom: 0;
}

.hello__btn {
  margin-bottom: 25px;
}

@media (max-width: 767.98px) {
  .hello__btn {
    margin-bottom: 20px;
  }
}

.hello__avatar {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 243px;
          flex: 0 0 243px;
  width: 243px;
  height: 243px;
  border-radius: 50%;
  overflow: hidden;
  -webkit-box-shadow: -13px 6px 0 0 #EDF7FA;
          box-shadow: -13px 6px 0 0 #EDF7FA;
}

@media (max-width: 767.98px) {
  .hello__avatar {
    margin-bottom: 40px;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 170px;
            flex: 0 0 170px;
    width: 170px;
    height: 170px;
  }
}

.hello__avatar img {
  width: 100%;
  height: auto;
}

.recent-posts {
  background-color: #EDF7FA;
  padding: 20px 0 16px 0;
}

.recent-posts__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 20px;
}

.recent-posts__title {
  padding-right: 20px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.recent-posts__view-all {
  font-size: 16px;
  line-height: 26px;
  color: #00A8CC;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

@media (max-width: 479.98px) {
  .recent-posts__view-all {
    display: none;
  }
}

.recent-posts__items {
  margin: 0 -10px;
}

@media (min-width: 767.98px) {
  .recent-posts__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.recent-posts__column {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0 10px;
  margin-bottom: 17px;
}

.recent-posts__item {
  background-color: #FFFFFF;
  -webkit-box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
          box-shadow: 0px 4px 10px rgba(187, 225, 250, 0.25);
  border-radius: 4px;
  padding: 24px 23px 30px 23px;
}

@media (max-width: 479.98px) {
  .recent-posts__item {
    padding: 20px;
  }
}

.recent-posts__item *:last-child {
  margin-bottom: 0;
}

.recent-post {
  height: 100%;
}

.recent-post__title {
  font-size: 26px;
  line-height: 1.46;
  font-weight: 700;
  color: #21243D;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  margin-bottom: 28px;
}

@media (min-width: 767.98px) {
  .recent-post__title:hover {
    color: #e64646;
  }
}

@media (max-width: 479.98px) {
  .recent-post__title {
    font-size: 22px;
    margin-bottom: 20px;
  }
}

.recent-post__info {
  font-size: 18px;
  line-height: 1.44;
  margin-bottom: 26px;
}

@media (max-width: 479.98px) {
  .recent-post__info {
    font-size: 16px;
    margin-bottom: 19px;
  }
}

.recent-post__info span {
  margin: 0 25px;
}

.recent-post__text {
  margin-bottom: 20px;
}

.feautered-works {
  padding-top: 34px;
  padding-bottom: 20px;
}

@media (max-width: 479.98px) {
  .feautered-works {
    padding-top: 22px;
  }
}

.feautered-works__title {
  margin-bottom: 32px;
}

@media (max-width: 479.98px) {
  .feautered-works__title {
    margin-bottom: 22px;
  }
}

.feautered-works__items {
  overflow: auto;
}

@media (max-width: 767.98px) {
  .feautered-works__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .feautered-works__items .works__item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 90%;
            flex: 0 0 90%;
    margin-right: 15px;
  }
}

.work__title {
  margin-bottom: 25px;
}

.works {
  padding-bottom: 20px;
}

@media (max-width: 767.98px) {
  .works {
    padding-bottom: 0;
  }
}

.works__item {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}

@media (min-width: 767.98px) {
  .works__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 767.98px) {
  .works__item {
    padding-bottom: 17px;
  }
}

.works__image {
  border-radius: 6px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 246px;
          flex: 0 0 246px;
  min-height: 180px;
  overflow: hidden;
  display: block;
}

@media (max-width: 767.98px) {
  .works__image {
    padding-bottom: 67%;
    margin-bottom: 17px;
  }
}

.works__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

@media (min-width: 767.98px) {
  .works__body {
    padding-left: 18px;
  }
}

.works__title {
  display: block;
  color: inherit;
  font-size: 30px;
  line-height: 1.44;
  font-weight: 700;
  margin-bottom: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

@media (min-width: 767.98px) {
  .works__title:hover {
    color: #e64646;
  }
}

@media (max-width: 479.98px) {
  .works__title {
    font-size: 24px;
  }
}

.works__info {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 22px;
}

.works__year {
  margin-right: 26px;
}

.works__category {
  font-size: 20px;
  color: #8695A4;
}

@media (max-width: 479.98px) {
  .works__category {
    font-size: 16px;
  }
}

.footer {
  padding: 50px 0;
}

@media (max-width: 767.98px) {
  .footer {
    padding: 30px 0;
  }
}

.footer__copy {
  text-align: center;
  font-size: 14px;
  line-height: 1.42;
}

.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 20px;
}

.social__item {
  margin-right: 35px;
}

.social__item:last-child {
  margin-right: 0;
}

.social__item path {
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}

.social__item:hover path {
  fill: #FF6464;
}

.blog {
  padding-bottom: 20px;
}

@media (max-width: 767.98px) {
  .blog {
    padding-bottom: 0;
  }
}

.blog__title {
  margin-bottom: 50px;
}

.item-blog {
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 1px solid #E0E0E0;
}

@media (max-width: 479.98px) {
  .item-blog {
    padding-bottom: 20px;
    margin-bottom: 20px;
  }
}

.item-blog__title {
  display: block;
  font-size: 30px;
  line-height: 1.46;
  font-weight: 500;
  margin-bottom: 16px;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  color: inherit;
}

@media (min-width: 767.98px) {
  .item-blog__title:hover {
    color: #e64646;
  }
}

@media (max-width: 479.98px) {
  .item-blog__title {
    font-size: 26px;
  }
}

.item-blog__info {
  margin-bottom: 15px;
  font-size: 20px;
  line-height: 1.5;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
}

@media (max-width: 479.98px) {
  .item-blog__info {
    font-size: 16px;
  }
}

.item-blog__separator {
  margin: 0 20px;
}

.item-blog__category {
  color: #8695A4;
}

.article {
  max-width: 710px;
  margin: 0 auto;
  padding: 0 15px;
}

.article__title {
  font-size: 34px;
  line-height: 1.47;
  font-weight: 700;
  margin-bottom: 30px;
}

@media (max-width: 767.98px) {
  .article__title {
    font-size: 30px;
    margin-bottom: 23px;
  }
}

.article__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 23px;
}

.article__date {
  margin-right: 17px;
}

.article__category {
  font-size: 20px;
  line-height: 25px;
}

@media (max-width: 767.98px) {
  .article__category {
    font-size: 18px;
  }
}

.article__text img {
  margin-bottom: 27px;
  max-width: 100%;
  height: auto;
}
